*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

/* ------------------NAVBAR----------------------- */

header{
    background-color: transparent;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    height: 60px;
}

.logo-academlo{
    display: flex;
    align-items: center;
}

.logo-academlo > a > img{
    width: 45px;
    height: 45px;
}

.logo-academlo > a {
    margin-left: 1rem;
}

.texto-academlo{
    text-decoration: none;
}

.menu-2 {
    display: flex;
    align-items: center;
}

.menu-2 > img{
    margin-right: 1rem;
    width: 15px;
    height: 15px;

}

.menu-2 > div > img {
    width: 15px;
    height: 15px;
}

.menu-22{
    margin-right: 1rem;
}


/* ----------------principal------------------------ */

.principal{
    display: flex;
    flex-direction: column-reverse;
}

.detalles{
    margin-left: 1.6rem;
}

.detalles > h3 {
    font-size: 30px;
    margin-bottom: .6rem;
}

.detalles > h2 {
    font-size: 32px;
    margin-bottom: .8rem;
}

.detalles > p {
    font-size: 16px;
    width: 360px;
    margin-bottom: 2rem;
}

.detalles > h4 {
    color: red;
    font-size: 22px;
}

.botones-principal {
    margin-top: 50px;
    display: flex;
    align-items: center;
    
}

.botones-principal > div:nth-child(1) > button {
 background-color: rgb(93, 93, 93);
 height: 50px;
 width: 100px;
}

.botones-principal > div:nth-child(2) > button {
    background-color: black;
    height: 60px;
    width: 150px;
    color: white;
}


.presentacion{
    display: flex;
    justify-content: end;
}

.fondo-imagen{
    background-color: red;
    width: 260px;
    height: 400px;
    position: relative;
    bottom: 60px;
    z-index: -1;
}

.imagen-principal {
    width: 230px;
    height: 260px;
    position: relative;
    top: 70px;
    left: 1rem;
}

/* --------------------PRODUCTOS--------------------- */

.productos-contenedor{
    margin-top: 50px;
}

ul {
    list-style: none;
}



.productos-filtros{
    position: relative;
    margin-left: 4rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.producto-linea::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 40px;
    background-color: black;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.producto-linea {
    position: relative;
}

.estilos-contenedor{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.producto-fondo {
    background-color: lightslategrey;
    text-align: center;
    padding: .25rem 0;
    border-radius: 0.5rem 0.5rem 0 0;
    width: 180px;
    height: 180px;

}

.producto-fondo > img {
    width: 150px;
}

.info-producto {
    box-shadow: 0px -5px 15px rgb(87, 87, 87);
    border-radius: 0 0 0.5rem 0.5rem;
    position: relative;
    width: 180px;
    height: 70px;
}


.info-producto > h4, .info-producto > span,
 .info-producto > p {
     margin-left: .5rem;
}

.info-producto > h4 {
    font-size: 1.2rem;
    margin-top: 1.3rem;
    display: inline-block;
}

.info-producto > span {
    font-size: 0.8rem;
}

.boton-productos{
    display: inline-flex;
    position: absolute;
    right: 1rem;
    top: -1.25rem;
    padding: .625rem;
    border-radius: 50%;
    box-shadow: 0px 5px 15px #575757;
    cursor: pointer;
}

.boton-productos > img {
    width: 15px;
}



/* ---------------------Footer------------------------ */


footer {
    margin-top: 80px;
    background-color: #b1b1b1;
}

footer > section {
    padding: 30px;
    margin-top: 10px;
}

.listas-footer > li{
    margin-top: 1rem;
}

.face-tamano{
    width: 25px;
}

.listas-display{
    cursor: pointer;
    display:flex;
    gap: 1rem;
}